In [2]:
# import libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name,
            passwd = user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: {err} ")
    return connection

# Put our MySQL Terminal password

pw = "101213"

# Database name
db = "mysql_python"
connection = create_server_connection("localhost", "root", pw)

NameError: name 'Error' is not defined

In [ ]:
def my_name(name):
    print(f"My name is {name}")
    
my_name("Ajigbotosho")

My name is Ajigbotosho

In [3]:
# Create mysql_python

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successfully")
    except Error as err:
        print(f"Error: {err}")
        
        
create_database_query = "Create database mysql_python"
create_database(connection, create_database_query)

NameError: name 'connection' is not defined

In [ ]:
import mysql.connector

In [ ]:
db = mysql.connector.connect(
    host = "localhost",
    user = "your_username",
    password = "your_password",
    database = "your_database"
)

cursor = db.cursor()

:

In [2]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connector(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name)
        print("MySQL database connection successfull")
    except Error as err:
        print(f"Error: {err}")
    return connection

In [3]:
# Execute sql queries

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: {err}")

In [4]:
create_orders_table = """
create table orders(
    order_id int primary key,
    customer_name varchar (30) not null,
    product_name varchar (20) not null,
    date_ordered date,
    quantity int,
    unit_price float,
    phone_number varchar(20));

"""

In [5]:
# connect to the database
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, create_orders_table)

NameError: name 'pw' is not defined